@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a asp-area="" asp-controller="FamilyTrees" asp-action="Index">Start Building New Family Tree!</a></p>
</div>
